@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Quicksand:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    height: 100vh;
    background-color: #1C0430;
}

.tetris-grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
    padding: 3px;
    gap: 3px;
    border-radius: 6px;
    border: 1px solid #412C51;
}

.tetris-grid > div {
    height: 40px;
    width: 40px;
    border: 1px solid #412C51;
    border-radius: 6px;
}

.tetris-grid > div.I {
    background-color: #FA00FF;
}

.tetris-grid > div.T {
    background-color: #FA00FF;
}

.tetris-grid > div.Z {
    background-color: #FA00FF;
}

.tetris-grid > div.S {
    background-color: #FA00FF;
}

.tetris-grid > div.O {
    background-color: #FA00FF;
}

.tetris-grid > div.L {
    background-color: #FA00FF;
}

.tetris-grid > div.J {
    background-color: #FA00FF;
}

.tetris-score {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #32074F;
    min-width: 320px;
    height: 150px;
    padding: 10px;
    border-radius: 6px;
    font-size: 70px;
    font-family: 'Play', sans-serif;
    color: #F900FF;
}

.score-logo {
    width: 50px;
    height: 50px;
}

.game-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.game-control {
    cursor: pointer;
    display: inline-block;
    border-radius: 6px;
    padding: 5px 20px;
    background-color: #32074F;
}

.game-control > img {
    width: 50px;
    height: 50px;
}

.active {
    border: 1px solid #F900FF;
}

.game-menu-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    opacity: 1;
    transition: opacity 200ms ease-in;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-menu {
    width: 500px;
    height: 200px;
    background-color: #412C51;
    border-radius: 6px;
    font-family: 'Play', sans-serif;
    color: #F900FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.start-game {
    cursor: pointer;
}

.hide {
    display: none;
}